:root.theme-dark {
  --bg-color-page: #060330;
  --bg-image: url(../images/cover-image-dark.png);
  --color-rectangle: #FF0070;
  --record-visible: block;
  --color-title: #db00ff;
  --shadow-header: #FF0070;
  --shadow-footer: #FF0070;
  --color-button: #FF0070;
  --outline-button-hover: #FF007066;
  --color-record: #FF0070;
  --bg-color-title: #FF0070;
  --color-title-bg: #000028;
  --color-title-section: #FF0070;
  --color-text-content: #F1B2CE;
  --shadow-link: #FF0070;
}
