:root.theme-light {
  --bg-color-page: #f8eaf6;
  --bg-image: url(../images/cover-image-light.png);
  --color-rectangle: #353430;
  --record-visible: none;
  --color-title: #FFC2E6;
  --shadow-header: #FF8DCB;
  --shadow-footer: #FF0070;
  --color-button: #353430;
  --outline-button-hover: #32312D66;
  --bg-color-title: #FF8DCB;
  --color-title-bg: #353430;
  --color-title-section:#353430;
  --color-text-content: #353430;
  --shadow-link: #FF8DCB;
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color-page: #f8eaf6;
  --color-rectangle: #353430;
  --record-visible: none;
  --color-title: #FFC2E6;
  --shadow-header: #FF8DCB;
  --shadow-footer: #FF0070;
  --color-button: #353430;
  --outline-button-hover: #32312D66;
  --bg-color-title: #FF8DCB;
  --color-title-bg: #353430;
  --color-title-section:#353430;
  --color-text-content: #353430;
  --shadow-link: #FF8DCB;
  }
}
